* {
  margin: 0;
  padding: 0;
}

.code,
.decode {
  position: relative;
  font-size: 17px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1em 2.5em;
  display: inline-block;
  border-radius: 6em;
  transition: all 0.2s;
  border: none;
  font-family: inherit;
  font-weight: 500;
  color: #198754;
  background-color: white;
}

.code:hover,
.decode:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px #198754;
}

.code:active,
.decode:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px #198754;
}

.code::after,
.decode::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.code::after,
.decode::after {
  background-color: #fff;
}

.code:hover::after,
.decode:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.inputs {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.buts {
  display: flex;
}
.input,
.keyword,
.output {
  display: flex;
  border: none;
  padding: 1rem;
  border-radius: 1rem;
  background: #e8e8e8;
  box-shadow: 5px 5px 15px #c5c5c5, -5px -5px 15px #198754;
  transition: 0.3s;
  margin: 20px;
  font-size: 24px;
  color: #198754;
}
.try {
  display: flex;
  align-items: center;
}
.input:focus,
.keyword:focus {
  outline-color: #198754;
  background: #e8e8e8;
  box-shadow: inset 5px 5px 15px #c5c5c5, inset -5px -5px 15px #198754;
  transition: 0.3s;
}
::placeholder {
  color: #198754;
}
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  background-color: #198754;
  margin: 0;
}
h1 {
  color: #000;

  margin: 0;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
body {
  background-color: #73c27fc4;
}
.main {
  display: flex;
  align-items: center;
  flex-direction: column;

  margin-left: 10%;
  margin-right: 10%;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 0;
  border-radius: 69px;
  background: #1987548c;

  width: 100%;
}
.form_text {
  color: #000;
  margin: 0;

  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}
.output {
  overflow: auto;
  resize: none;
  outline-color: #5660b1;
}
.information {
  display: flex;
  flex-direction: column;
  align-items: center;

  /* margin: 0 15% 0 15%; */
}
.btn-secondary {
  background-color: #1e5a39;
  border-color: #1e5a39;
}
.btn::after {
  background-color: #1e5a39;
}
.btn:hover {
  background-color: #1e5a39;
}
.btn:enabled {
  background-color: #1e5a39;
}

@media screen and (min-width: 1000px) {
  .input,
  .keyword,
  .output {
    margin: 20px;
    font-size: 24px;
  }
  .code,
  .decode {
    font-size: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
  }
  .code {
    margin-right: 20px;
  }
  .decode {
    margin-left: 20px;
  }
  .viz-table {
    height: 500px;
    width: 500px;
    margin: 40px;
  }

  .header {
    height: 150px;
  }
  h1 {
    font-size: 50px;
  }

  .main {
    margin-top: 60px;
  }

  .form {
    margin: 50px;

    padding-left: 50px;
    padding-right: 50px;
  }

  .form_text {
    font-size: 25px;

    padding: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
  }

  .output {
    /* width: 400px; */
    height: 80px;
    margin-bottom: 10px;
  }
  /* .keyword {
    width: 70px;
  } */

  .dropdown {
    position: absolute;
    left: 40px;
  }

  .try {
    margin-top: 50px;
  }
  .information {
    font-size: 20px;
  }
}

@media screen and (min-width: 700px) and (max-width: 1000px) {
  .input,
  .keyword,
  .output {
    margin: 5px;
    font-size: 20px;
    padding: 10px;
  }
  .code,
  .decode {
    font-size: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
  }
  .code {
    margin-right: 15px;
  }
  .decode {
    margin-left: 15px;
  }
  .viz-table {
    height: 400px;
    width: 400px;
    margin: 30px;
  }

  .header {
    width: 100%;
    height: 100px;
  }
  h1 {
    font-size: 40px;
  }

  .main {
    margin-top: 40px;
  }

  .form {
    margin: 30px;

    padding-left: 50px;
    padding-right: 50px;
  }

  .form_text {
    font-size: 20px;

    padding: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
  }

  .output {
    /* width: 300px; */
    height: 70px;
    margin-bottom: 10px;
  }
  /* .keyword {
    width: 70px;
  } */

  .dropdown {
    position: absolute;
    left: 40px;
  }

  .try {
    margin-top: 30px;
  }
  .information {
    font-size: 20px;
  }
}
@media screen and (max-width: 700px) {
  .input,
  .keyword,
  .output {
    margin: 5px;
    font-size: 20px;
    padding: 10px;
    border-radius: 1rem;
  }
  .code,
  .decode {
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }
  .code {
    margin-right: 10px;
  }
  .decode {
    margin-left: 10px;
  }
  .viz-table {
    height: 300px;
    width: 300px;
    margin: 20px;
  }

  .header {
    width: 100%;
    height: 70px;
  }
  h1 {
    font-size: 25px;
  }

  .main {
    margin-top: 20px;
  }

  .form {
    margin: 10px;
    border-radius: 50px;
    padding-left: 25px;
    padding-right: 25px;
  }

  .form_text {
    font-size: 15px;
    margin-top: 10px;
    padding: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
  }

  .output {
    /* width: 150px; */
    height: 50px;
    margin-bottom: 10px;
  }
  /* .keyword {
    width: 30px;
  } */

  .dropdown {
    position: absolute;
    left: 40px;
  }

  .try {
    margin-top: 30px;
  }
  .information {
    font-size: 15px;
    margin-left: 0px;
  }
  #dropdownMenuButton2 {
    font-size: 10px;
    padding: 0 0 0 5px;
  }
  button {
    width: 45px;
    height: 30px;
    font-size: 5px;
    margin-right: 10px;
  }
}
